{% extends "base.html" %}

{% block content %}
{% if "username" in session %}
<a class="navbar-brand" href="/logout">Выход</a>
<a href="/add_book">Добавить рецепт</a>
{% else %}
<a class="navbar-brand" href="/login">Вход</a>
{% endif %}
<ul class="nav nav-list">
    <li class="nav-header"><strong>Cортировать по:&nbsp;&nbsp;</strong></li>
    <li class="active"><a href="/index">Дате от макс к мин</a></li>
    <li><a href="/index_false">Дате от мин к макс</a></li>
    <li><a href="/index_name_true">Названию&nbsp;от макс к миин</a></li>
    <li><a href="/index_name_false">Названию&nbsp;от мин к макс</a></li>
    <li><a href="/index_hard_false">Сложности&nbsp;от макс к мин</a></li>
    <li><a href="/index_hard_true">Сложности&nbsp;от мин к макс</a></li>
</ul>
<div class="row">
    <br><br><br>
</div>
{% for item in news %}
<div class="row">
    <div class="col-md-4">
        <b>Название:&nbsp;</b>
        {{item[1]}}<br>
        <b>Рецепт:&nbsp;</b>
        {{item[2]}}<br>
        <b>Ингридиенты:&nbsp;</b>
        {{item[3]}}<br>
        <b>Сложность:&nbsp;</b>
        {{item[4]}}
    </div>
    <div class="col-lg-3 col-md-8 col-6">
        <img class="img-fluid" src="{{item[5]}}" alt="{{item[5]}}">
    </div>
</div>

<div class="row">
    <br><br><br>
</div>
{% if session["username"] == admin %}
<a href="/delete_book/{{item[0]}}">Удалить рецепт</a>
{% endif %}
{% endfor %}
{% endblock %}