{% extends "base.html" %}

{% block content %}
{% if "username" in session %}
<a class="navbar-brand" href="/logout">Выход</a>
<a href="/add_book">Добавить книгу</a>
{% else %}
<a class="navbar-brand" href="/login">Вход</a>
{% endif %}
{% for item in news %}
<div class="row">
    <div class="col-md-4">
        Название: {{item[1]}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        Рецепт:
        {{item[2]}}
    </div>
    <div class="col-md-5">
        <img class="d-block w-810 h-810" src="{{item[5]}}">
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        Ингридиенты:
        {{item[3]}}
    </div>
</div>
<a href="/delete_book/{{item[0]}}">Удалить книгу</a>
{% endfor %}
{% endblock %}